*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#ffd6e8,#fff0f5,#ffffff);
color:#444;
overflow-x:hidden;
}

section{
padding:70px 20px;
text-align:center;
}

#loginPage{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#ffb6c1,#ffe4ec);
}

#loginPage h1{
font-size:42px;
color:#ff3f7f;
margin-bottom:15px;
font-family:'Pacifico',cursive;
}

#loginPage p{
margin:10px;
font-size:18px;
}

input{
padding:15px;
width:280px;
border:none;
border-radius:30px;
font-size:18px;
margin:20px;
text-align:center;
}

button{
padding:15px 35px;
border:none;
border-radius:30px;
background:#ff4f8b;
color:white;
font-size:18px;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.05);
background:#ff2f72;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.hero h1{
font-size:55px;
font-family:'Pacifico',cursive;
color:#ff4f8b;
}

.hero h2{
font-size:34px;
margin-top:10px;
}

.photos{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
margin-top:30px;
}

.photos img{
width:150px;
height:200px;
object-fit:cover;
border-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,.2);
transition:.3s;
}

.photos img:hover{
transform:scale(1.08);
}

.card{
background:white;
padding:25px;
border-radius:20px;
max-width:700px;
margin:auto;
box-shadow:0 5px 15px rgba(0,0,0,.15);
line-height:1.8;
}

.gift{
padding-bottom:100px;
}

#surprise{
margin-top:30px;
background:white;
padding:25px;
border-radius:20px;
max-width:700px;
margin-left:auto;
margin-right:auto;
box-shadow:0 5px 15px rgba(0,0,0,.15);
}

footer{
padding:30px;
text-align:center;
background:#ffb6c1;
color:white;
font-weight:bold;
}